# TODO:
#  - `git lfs install` to update hooks in .git/
#  - `git lfs track` after updating this file
#  - `git lfs ls-files` to see what's stored as binary

# macros
[attr]lfs filter=lfs diff=lfs merge=lfs -text

# images
*.png lfs

# fonts
*.ttf lfs

# binaries
*.bin lfs
*.dll lfs
*.inv lfs
