name: Python Build and Deploy
on:

  # allows creation of a new run from UI
  workflow_dispatch:

  push:
    # branches:
    #   - main
    #   # - develop

  pull_request:
    branches:
      - main

  release:
    types:
      - published

jobs:

  # -------------------------------------------------------------------
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: python
    strategy:
      matrix:
        python-version:
          - 3.9
          - 3.10
          - 3.11
          # - 3.12
          # - 3.13
          # - 3.14

    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: ${{ matrix.python-version }}
        
      - name: Sync dev dependencies
        run: uv sync --managed-python --python=${{ matrix.python-version }} --group=dev

      # - name: Test with Python ${{ matrix.python-version }}
      #   run: uv run --frozen pytest

      - name: Build Python package
        run: uv build

      - name: Upload build artifacts
        uses: actions/upload-artifact@v5
        with:
          name: python-package-${{ matrix.python-version }}
          path: python/dist/*
          retention-days: 7

  # # -------------------------------------------------------------------
  # deploy:
  #   if: github.event_name == 'release' && github.event.action == 'published'
  #   needs: build
  #   runs-on: ubuntu-latest
  #   defaults:
  #     run:
  #       working-directory: python
  #   environment: 
  #     name: pypi
  #     url: https://pypi.org/p/VectorNav
  #   permissions:
  #     id-token: write
    
  #   steps:
  #     - uses: actions/checkout@v5
  #     - uses: astral-sh/setup-uv@v7
  #       with:
  #         enable-cache: true
  #         python-version: 3.11

  #     - name: Build for deployment
  #       run: |
  #         uv sync --managed-python --python=3.11
  #         uv build

  #     - name: Publish to PyPI
  #       uses: pypa/gh-action-pypi-publish@release/v1
  #       with:
  #         packages-dir: python/dist/
